@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

@font-face {
  font-family: Minecrafter;
  src: url("fonts/minecrafter.ttf");
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

:root {
  --var-color-1-brighter: rgba(255,85,255,0.8);
  --var-color-1: rgba(170,0,170,0.8);
  --var-color-1-darker: rgba(85,0,85,0.8);
  --var-color-2-brighter: rgba(85,255,255,0.8);
  --var-color-2: rgba(0,170,170,0.8);
  --var-color-2-darker: rgba(0,85,85,0.8);
  --var-color-3-brighter: rgba(255,85,85,0.8);
  --var-color-3: rgba(255,0,0,0.8);
  --var-color-3-darker: rgba(85,0,0,0.8);
  --var-color-4-brighter: rgba(85,255,85,0.8);
  --var-color-4: rgba(0,170,0,0.8);
  --var-color-4-darker: rgba(0,85,0,0.8);
  --var-color-5-brighter: rgba(255,255,85,0.8);
  --var-color-5: rgba(255,170,0,0.8);
  --var-color-5-darker: rgba(85,85,0,0.8);
  --var-color-6-brighter: rgba(170,170,255,0.8);
  --var-color-6: rgba(85,85,255,0.8);
  --var-color-6-darker: rgba(0,0,170,0.8);
  --var-color-7-brighter: rgba(255,255,170,0.8);
  --var-color-7: rgba(255,255,85,0.8);
  --var-color-7-darker: rgba(170,170,0,0.8);
  --var-color-8-brighter: rgba(255,170,255,0.8);
  --var-color-8: rgba(255,85,255,0.8);
  --var-color-8-darker: rgba(170,0,170,0.8);
}

.app {
  display: flex;
  flex-direction: column;
  background-color: #222222;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  min-height: 100vh;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  flex: 0 0 auto;
  padding: 16px;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(255,255,255,0.2);
}

.app-body {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  padding-top:8px;
  padding-bottom: 64px;
  background-color: #222222;
}

.app-footer {
  height: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size:0.8rem;
  text-align: right;
  color: #aaaaaa;
  padding: 8px;
}

.app-footer::after {
  content:"Credits";
  transition: content linear 100ms;
}

.app-footer:hover::after {
  content: "Credits: Simone Righi for the EasyRanking plugin, Giacomo Zama for this webpage, VizSensor contributors for the VizSensor React library, Minotar for their avatar API, and Madpixel Designs for the Minecrafter font";
}



.leaderboards-grid {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  transition: opacity linear 200ms;
  max-width: 1000px;
}

.fading {
  opacity: 0;
}

.leaderboards-grid-important {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.leaderboards-grid-default {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.leaderboards-grid-default > .leaderboards-cell {
  display: flex;
  flex: 1 1 0%;
}

.leaderboards-grid-important > .leaderboards-cell {
  display: flex;
  flex: 1 1 45%;
}

.leaderboards-cell {
  font-family: Minecrafter;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  text-shadow: 0 4px 0px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  user-select: none;
  margin: 8px;
  border-radius: 4px;
  background-color: red;
  padding: 16px 8px 8px 8px;
  transition: box-shadow ease-in 200ms, opacity ease-in 200ms;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.4), 0 0 0 0px rgba(255,255,255,0);
}

.leaderboards-cell:hover {
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0), 0 0 0 4px rgba(255,255,255,0.3);
}

.leaderboards-cell.translucent {
  opacity: 0.2;
}

.leaderboards-cell-list {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 16px;
  border-radius: 4px;
  box-shadow: inset 0 0px 2px 2px rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.4);
}

.leaderboards-top3 {
  display: flex;
  flex-direction: column;
}

.leaderboards-top3-player-name {
  display: inline-flex;
  flex: 1 1 'auto';
  justify-content: center;
  align-items: center;
}

.leaderboards-top3-player-name .player-face {
  width: 24px;
  height: 24px;
  margin-left: 8px;
  border-radius: 2px;
  box-shadow: 0 2px 0 0px rgba(0,0,0,0.2);
  image-rendering: pixelated;
}

.leaderboards-top3 > div {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leaderboards-top3 > div::before {
  content: "";
}

.leaderboards-top3 > div:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.leaderboards-top3 > div:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.leaderboards-top3 > div:nth-child(2n + 1) {
  background-color: rgba(0, 0, 0, 0.2);
}

.leaderboards-top3 > div:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.1);
}

.leaderboards-top3 > div:nth-child(1) {
  font-size: 1.2rem;
  font-weight: 600;
}

.leaderboards-top3 > div:nth-child(1)::before {
  width: 40px;
  height: 40px;
  margin-left: 0px;
  margin-right: -10px;
  background-image: url(img/medals/gold-medal.png)
}

.leaderboards-top3 > div:nth-child(2)::before {
  width: 20px;
  height: 20px;
  margin-left:10px;
  background-image: url(img/medals/silver-medal.png)
}

.leaderboards-top3 > div:nth-child(3)::before {
  width: 20px;
  height: 20px;
  margin-left:10px;
  background-image: url(img/medals/bronze-medal.png)
}


.leaderboards-grid-important > .leaderboards-cell:first-child {
  background: linear-gradient(45deg, var(--var-color-1-darker) 0%, var(--var-color-1) 35%, var(--var-color-1-brighter) 100%), url("img/pvp.png");
  background-position: center; 
}

.leaderboards-grid-important > .leaderboards-cell:last-child {
  background: linear-gradient(45deg, var(--var-color-2-darker) 0%, var(--var-color-2) 35%, var(--var-color-2-brighter) 100%), url("img/pvp.png");
  background-position: center; 
}

.leaderboards-grid-default > .leaderboards-cell:nth-child(n + 1) {
  background: linear-gradient(45deg, var(--var-color-3-darker) 0%, var(--var-color-3) 35%, var(--var-color-3-brighter) 100%), url("img/pvp.png");
  background-position: center; 
}

.leaderboards-grid-default > .leaderboards-cell:nth-child(n + 2) {
  background: linear-gradient(45deg, var(--var-color-4-darker) 0%, var(--var-color-4) 35%, var(--var-color-4-brighter) 100%), url("img/pvp.png");
  background-position: center; 
}

.leaderboards-grid-default > .leaderboards-cell:nth-child(n + 3) {
  background: linear-gradient(45deg, var(--var-color-5-darker) 0%, var(--var-color-5) 35%, var(--var-color-5-brighter) 100%), url("img/pvp.png");
  background-position: center; 
}

.leaderboards-grid-default > .leaderboards-cell:nth-child(n + 4) {
  background: linear-gradient(45deg, var(--var-color-6-darker) 0%, var(--var-color-6) 35%, var(--var-color-6-brighter) 100%), url("img/pvp.png");
  background-position: center; ;
}

.leaderboards-grid-default > .leaderboards-cell:nth-child(n + 5) {
  background: linear-gradient(45deg, var(--var-color-7-darker) 0%, var(--var-color-7) 35%, var(--var-color-7-brighter) 100%), url("img/pvp.png");
  background-position: center; 
}

.leaderboards-grid-default > .leaderboards-cell:nth-child(n + 6) {
  background: linear-gradient(45deg, var(--var-color-8-darker) 0%, var(--var-color-8) 35%, var(--var-color-8-brighter) 100%), url("img/pvp.png");
  background-position: center; 
}

.leaderboard.color1 {
  background: linear-gradient(45deg, var(--var-color-1-darker) 0%, var(--var-color-1) 35%, var(--var-color-1-brighter) 100%);
  background-position: center; 
}

.leaderboard.color2 {
  background: linear-gradient(45deg, var(--var-color-2-darker) 0%, var(--var-color-2) 35%, var(--var-color-2-brighter) 100%);
  background-position: center; 
}

.leaderboard.color3 {
  background: linear-gradient(45deg, var(--var-color-3-darker) 0%, var(--var-color-3) 35%, var(--var-color-3-brighter) 100%);
  background-position: center; 
}

.leaderboard.color4 {
  background: linear-gradient(45deg, var(--var-color-4-darker) 0%, var(--var-color-4) 35%, var(--var-color-4-brighter) 100%);
  background-position: center; 
}

.leaderboard.color5 {
  background: linear-gradient(45deg, var(--var-color-5-darker) 0%, var(--var-color-5) 35%, var(--var-color-5-brighter) 100%);
  background-position: center; 
}

.leaderboard.color6 {
  background: linear-gradient(45deg, var(--var-color-6-darker) 0%, var(--var-color-6) 35%, var(--var-color-6-brighter) 100%);
  background-position: center; ;
}

.leaderboard.color7 {
  background: linear-gradient(45deg, var(--var-color-7-darker) 0%, var(--var-color-7) 35%, var(--var-color-7-brighter) 100%);
  background-position: center; 
}

.leaderboard.color8 {
  background: linear-gradient(45deg, var(--var-color-8-darker) 0%, var(--var-color-8) 35%, var(--var-color-8-brighter) 100%);
}

.lb-score {
  width: 100px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  font-size: 1rem;
  font-weight: 400;
  background-color: rgba(255,255,255,0.2);
  border-radius: 2px;
  padding: 4px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.4);
}

.leaderboard {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 4px;
  width: 85vw;
  margin-top: 32px;
  max-width: 800px;
  transition: opacity linear 200ms;
  animation: fadeIn 200ms;
  background-color: rgba(255,255,255,0.1);
}

.leaderboard-list {
  margin-top: 8px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 4px;
  box-shadow: inset 0 0px 2px 2px rgba(0,0,0,0.1);
}

.leaderboard-list > div {  
  padding: 8px;
}

.leaderboard-list > div:nth-child(2n + 1) {
  background-color: rgba(0, 0, 0, 0.2);
}

.leaderboard-list > div:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.1);
}

.leaderboard-list > div:first-child {  
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.leaderboard-list > div:last-child {  
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.leaderboard-list > .leaderboard-list-item {
  display: flex;
  align-items: center;
  padding: 16px;
  font-size: 1.4rem;
}

.leaderboard-list-item > .leaderboard-list-name {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  font-weight: 400;
}

.leaderboard-list-name > .player-face {
  width: 32px;
  height: 32px;
  margin-left: 16px;
  border-radius: 2px;
  box-shadow: 0 2px 0 0px rgba(0,0,0,0.2);
  image-rendering: pixelated;
}

.leaderboard-list-item > .leaderboard-list-score {
  flex: 0 0 130px;
  border-radius: 2px;
  padding: 4px 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.2);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
}

.leaderboard-list-item > .leaderboard-list-position {
  flex: 0 0 40px;
  font-weight: 600;
  text-align: center;
}

.back-button-container {
  display: flex;
  justify-content: flex-start;
}

.back-button {
  background-color: rgba(255,255,255,0.1);
  padding: 16px;
  user-select: none;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color ease-in 100ms, box-shadow ease-in 100ms;
  box-shadow: inset 0 0 0 0 rgba(0,0,0,0.1);
}

.back-button:hover {
  background-color: rgba(255,255,255,0.2);
}

.back-button:hover:active {
  box-shadow: inset 0 0 4px 2px rgba(0,0,0,0.1);
}

.leaderboard-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.leaderboard-title {
  font-family: Minecrafter;
  font-size: 2.5rem;
  margin-top: 32px;
  text-shadow: 0 4px 0px rgba(0,0,0,0.2);
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #aaaaaa;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader-container {
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  align-items: center;
}

.error-panel {
  padding: 16px;
  color: lightcoral;
  font-weight: 400;
  font-size: 2rem;
}

.leaderboard-podium {
  padding: 16px;
  height: 220px;
  margin-top: 32px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 4px;
  box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.4);
  display: flex;
}

.first-place-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 50%;
}

.second-place-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 25%;
}

.third-place-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 25%;
}

.podium-player-face {
  width: 64px;
  height: 64px;
  border-radius: 16px;
  z-index: 8;
  image-rendering: pixelated;
}

.podium-name {
  display: flex;
  align-items: center;
  font-family: Minecrafter;
  padding: 8px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 4px;
  font-size: 1.2rem;
  text-shadow: 0 3px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.first-place-name {
  margin-bottom: 12px;
  font-size: 1.6rem;
  color: #ffaf41;
}

.second-place-name {
  margin-top: 8px;
  color: #a8a8a8;
}

.third-place-name {
  margin-top: 8px;
  color: #a8795c;
}

.first-place-frame {
  width: 96px;
  height: 144px;
}

.first-place-frame .podium-player-face {
  width: 96px;
  height: 96px;
  border-radius: 24px;
}

.first-place-frame::before {
  content: "";
  position: absolute;
  width: 96px;
  height: 144px;
  background: url("img/podium/podium-frame-gold.png");
  background-size: 96px 144px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  z-index: 10;
}

.second-place-frame {
  width: 64px;
  height: 96px;
}

.second-place-frame::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 96px;
  background: url("img/podium/podium-frame-silver.png");
  background-size: 64px 96px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  z-index: 10;
}

.third-place-frame {
  width: 64px;
  height: 96px;
}

.third-place-frame::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 96px;
  background: url("img/podium/podium-frame-bronze.png");
  background-size: 64px 96px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  z-index: 10;
}

.podium-score {
  z-index: 15;
  position: relative;
  background-color: rgba(0,0,0,0.6);
  font-weight: 400;
  color: #eeeeee;
  margin-top: 0px;
  font-family: Minecrafter;
  font-size: 1.3rem;
  padding: 4px 0;
  text-shadow: 0 3px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  border-radius: 4px;
}

.first-place-score {
  width: 128px;
  margin-left: -16px;
  /*color: #ff9f31;*/
}

.second-place-score {
  font-size: 1.1rem;
  width: 96px;
  margin-left: -16px;
  /*color: #a8a8a8;*/
}

.third-place-score {
  font-size: 1.1rem;
  width: 96px;
  margin-left: -16px;
  /*color: #a8795c;*/
}

@media screen and (max-width: 600px) {
  .app-body {
    align-items: flex-start;
  }

  .podium-name {
    display: none;
  }

  .podium-score {
    font-size: 0.9rem;
  }

  .leaderboard-list-item {
    font-size: 0.9rem;
    flex-wrap: wrap;
  }

  .leaderboard-list-item > .leaderboard-list-position {
    flex: 0 0 30px;
    font-size: 1rem;
    text-align: left;
  }

  .leaderboard-list-item > .leaderboard-list-score {
    flex: 1 0 80px;
    margin-top: 8px;
    font-size: 1rem;
  }

  .leaderboard-list-item > .leaderboard-list-name {
    flex: 1 1 calc( 100% - 70px );
    font-size: 1rem;
    justify-content: space-between;
  }

  .leaderboard-list-name > .player-face {
    margin-left: 0px;
  }

  .leaderboards-grid-important {
    flex-direction: column;
  }

  .leaderboards-grid-default {
    flex-direction: column;
  }

  .leaderboards-cell {
    font-size: 1.5rem;
  }

  .leaderboard {
    margin-top: 0;
  }

  .lb-score {
    width: 80px;
  }

  .lb-score {
    margin-top: 8px;
    flex: 1 1 auto;
  }

  .leaderboard-podium {
    height: 180px;
  }

  .leaderboards-top3-player-name {
    flex: 1 1 calc(100% - 64px);
    justify-content: space-between;
    margin-left: 12px;
  }

  .leaderboards-top3 > div {
    flex-wrap: wrap;
  }

  .leaderboards-top3 > div {
    flex-wrap: wrap;
  }

  .leaderboards-top3 > div:nth-child(1) {
    font-size: 1rem;
  }
}